@{
    ViewData["Title"] = "Appointment Time Slots";
}

@for (int i = 8; i < 13; i++)
{
    <form method="post" asp-action="AppointmentSelection">
        <input type="hidden" value="@i:00" />
        <button type="submit" class="btn btn-primary btn-lg btn-block">@i:00 AM</button>
    </form>
    <br />
}

@for (int i = 1; i < 9; i++)
{
    <form method="post" asp-action="AppointmentSelection">
        <input type="hidden" value="@i:00" />
        <button type="submit" class="btn btn-primary btn-lg btn-block">@i:00 PM</button>
    </form>
    <br />
}


@*UPDATE IN THE CONTROLLER

    on the post, it will receive a string. this string is the time.
    in the controller, save this time as the appointment time in the database*@
